# Exclude everything by default
**

# Include only specific folders/files
!communicators/

!inno_sim_interface/

!scripts/airframe_printer.sh
!scripts/cyphal_port_id.sh
!scripts/cyphal_config_slcan0.sh
!scripts/cyphal_config_slcan1.sh
!scripts/run_sim.sh
!scripts/install.sh
!scripts/tools/can/create_slcan.sh

!uav_dynamics/timed_roslaunch

!uav_dynamics/uav_hitl_dynamics/launch
!uav_dynamics/uav_hitl_dynamics/libs
!uav_dynamics/uav_hitl_dynamics/scripts
!uav_dynamics/uav_hitl_dynamics/src
!uav_dynamics/uav_hitl_dynamics/tests
!uav_dynamics/uav_hitl_dynamics/urdf
!uav_dynamics/uav_hitl_dynamics/CMakeLists.txt
!uav_dynamics/uav_hitl_dynamics/package.xml

!catkin_build.sh
