# Stop searching for additional config files.
set noparent

# Limit line length.
linelength=100

# Ignore the following categories of errors, as specified by the filter:
filter=-build/header_guard
filter=-build/include
filter=-legal/copyright
filter=-whitespace/braces
filter=-whitespace/parens
filter=-readability/casting