<launch>
    <arg name="vehicle"                 default="standard_vtol"                 doc="[standard_vtol, iris]"/>
    <arg name="run_rviz"                default="false"                         doc="[true, false]"/>
    <arg name="run_sitl_flight_stack"   default="true"                          doc="[true means sitl, false means true hitl]"/>
    <arg name="run_inno_sim_bridge"     default="true"                          doc="[true, false]"/>

    <include file="$(find innopolis_vtol_dynamics)/launch/dynamics.launch">
        <arg name="vehicle"                 value="$(arg vehicle)"/>
        <arg name="run_rviz"                value="$(arg run_rviz)"/>
        <arg name="run_sitl_flight_stack"   value="false"/>
        <arg name="run_inno_sim_bridge"     value="$(arg run_inno_sim_bridge)"/>
    </include>
</launch>
