<launch>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find innopolis_vtol_dynamics)/config/rviz.rviz" />

    <node pkg="tf" type="static_transform_publisher" name="enu_to_base_footprint"
            args="0.0 0.0 0.0 0.0 0.0 0.0 uav/enu /base_footprint 40" />

    <param name="robot_description" command="$(find xacro)/xacro '$(find innopolis_vtol_dynamics)/urdf/vtol.urdf.xacro'" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
</launch>
