<launch>
    <!--
        Prerequirements:
        DONT_RUN=1 make px4_sitl_default gazebo
     -->
    <arg name="vehicle"             default="iris" doc="[standard_vtol]"/>
    <arg name="fcu_url"             default="udp://:14540@127.0.0.1:14557" doc="[udp://:14560@127.0.0.1:14558]"/>

    <!-- Gazebo settings -->
    <arg name="gui"                 default="true"/>

    <!-- 1. Launch the simulation and connect ROS to it via MAVROS -->
    <include file="$(find mavros)/launch/px4.launch">
        <arg name="fcu_url" value="$(arg fcu_url)"/>
    </include>

    <!-- 2. Launch px4 sitl -->
    <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
        <arg name="time" value="3" />
        <arg name="pkg" value="px4" />
        <arg name="node_name" value="px4" />

        <arg name="file" value="px4.launch" />
        <arg name="value" value="vehicle:=$(arg vehicle)" />
    </include>

    <!-- 3. Run dynamic simulation -->
    <rosparam file="$(find innopolis_vtol_dynamics)/config/inno_vtol_dynamics.yaml" command="load" ns="uav/innopolis_vtol_dynamics" />
    <node pkg="innopolis_vtol_dynamics" type="node" name="node" output="screen">
    </node>
</launch>
