<launch>
    <!--
        Prerequirements for SITL:
        DONT_RUN=1 make px4_sitl gazebo_standard_vtol   // for InnoVTOL dynamics
        DONT_RUN=1 make px4_sitl gazebo_iris            // for FlightGoggles dynamics

        Prerequirements for true HITL, for example for cuav v5:
        make px4_fmu-v5_default upload
     -->
    <arg name="vehicle"                 default="standard_vtol"                 doc="[standard_vtol, iris]"/>
    <arg name="run_rviz"                default="false"                         doc="[true, false]"/>
    <arg name="run_sitl_flight_stack"   default="true"                          doc="[true means sitl, false means true hitl]"/>
    <arg name="run_inno_sim_bridge"     default="true"                          doc="[true, false]"/>


    <!-- 1. Run SITL flight stack -->
    <group if="$(arg run_sitl_flight_stack)">
        <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
            <arg name="time"        value="3" />
            <arg name="pkg"         value="px4" />
            <arg name="node_name"   value="px4" />
            <arg name="file"        value="px4.launch" />
            <arg name="value"       value="vehicle:=$(arg vehicle)" />
        </include>
    </group>

    <!-- 2. Run mavlink or uavcan communicator depending on simulation mode -->
    <group if="$(arg run_sitl_flight_stack)">
        <node pkg="innopolis_vtol_dynamics" type="mavlink_communicator" name="px4_mavlink_communicatormavlink_communicator" output="screen"/>
    </group>
    <group unless="$(arg run_sitl_flight_stack)">
        <node pkg="drone_communicators" type="uavcan_communicator" name="px4_uavcan_communicator" output="screen"/>
    </group>


    <!-- 3. Run dynamics simulation -->
    <include file="$(find innopolis_vtol_dynamics)/launch/load_parameters.launch"/>
    <node pkg="innopolis_vtol_dynamics" type="node" name="inno_dynamics_sim" output="screen">
        <param name="vehicle" value="$(arg vehicle)" />/>
    </node>

    <!-- 4. (optional) Run rviz -->
    <group if="$(arg run_rviz)">
        <include file="$(find innopolis_vtol_dynamics)/launch/rviz.launch"/>
    </group>

    <!-- 5. (optional) Inno sim bridge -->
    <group if="$(arg run_inno_sim_bridge)">
        <include file="$(find innopolis_vtol_dynamics)/launch/inno_sim.launch"/>
    </group>
</launch>
