<launch>
    <!--
        Prerequirements:
        DONT_RUN=1 make px4_sitl_default gazebo
     -->
    <arg name="vehicle"             default="iris" doc="[standard_vtol, iris]"/>
    <arg name="fcu_url"             default="udp://:14540@127.0.0.1:14557" doc="[udp://:14560@127.0.0.1:14558]"/>

    <!-- Gazebo settings -->
    <arg name="gui"                 default="true"/>
    <param name="/use_sim_time"     value="true"/>

    <!-- 1. Launch the simulation and connect ROS to it via MAVROS -->
    <include file="$(find mavros)/launch/px4.launch">
        <arg name="fcu_url" value="$(arg fcu_url)"/>
    </include>

    <!-- 2. Launch px4 sitl -->
    <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
        <arg name="time" value="3" />
        <arg name="pkg" value="px4" />
        <arg name="node_name" value="px4" />

        <arg name="file" value="posix_sitl.launch" />
        <arg name="value" value="gui:=$(arg gui) vehicle:=$(arg vehicle)" />
    </include>

</launch>
